services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: iptracking
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d iptracking']
      interval: 2s
      timeout: 2s
      retries: 30

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PORT: 3000
      LOG_LEVEL: info
      DATABASE_URL: postgres://postgres:postgres@db:5432/iptracking
      SEED_FILE_PATH: /app/data/ip_blocks.tsv.gz
    ports:
      - '3000:3000'
    depends_on:
      db:
        condition: service_healthy

volumes:
  pg_data:
